* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header section {
  background-color: #313131;
  height: 37em;
}

.navBar {
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}

.h1Div {
  height: 7em;
  background-color: #ffffff;
}

.form-text-Div {
  color: #ffffff;
}

.green-div-text {
  margin-top: 3.5em;
  background-color: #4dad5b;
  height: 6em;
  border-radius: 0.5em;
  font-size: 1.4em;
  padding: 1em;
}
.iconColor {
  fill: #ffffff;
}

.user {
  display: block;
  height: 2em;
  width: 2em;
}
.burger {
  height: 2em;
  width: 2em;
  margin-left: 1em;
}
nav a {
  margin-right: 1em;
}

.h1Div {
  display: flex;
  align-items: flex-end;
  padding-bottom: 1.5em;
  padding-left: 0.5em;
  color: #adabab;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

form {
  margin: 2em 0em 1.5em 1em;
}
label {
  display: block;
  margin-bottom: 1em;
}

form input {
  height: 3em;
  width: 15em;
  border-radius: 0.5em;
}

form button {
  height: 3em;
  width: 3em;
  background-color: #ee6b2f;
  margin-left: 0.5em;
  border-radius: 0.4em;
}

.pokemon-type-text {
  margin-left: 1em;
  font-size: 1.2em;
}

.previous-next-div{
text-align: center;
  width: 100%;
}

.previous-next-div a{
  color: #222020;
 text-decoration: none;
 font-size: 20px;
 background:linear-gradient(
 rgba(105, 247, 105, 0.715) 0%,
 rgba(0, 128, 0, 0.251) 50%,
 rgba(255, 217, 0, 0.189) 50%,
 rgba(255, 217, 0, 0.498) 100%
 );
 margin-left: 1em;
 padding: .3em;
 border: 1px solid black;
 border-radius: .3em;


}

ul {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.poke-container {
  width:30em;
  height: 23em;
  margin-top: 2em;
  border-radius: 2em;
 display: flex;
 flex-direction: column;
align-items: center;
  border: 1px solid rgb(109, 107, 107);
   box-shadow: 10px 10px 5px rgb(159, 162, 163);
}
.poke-container span{
    display: block;
}

li{
    list-style-type: none;
}

.poke-container p a{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 900;
    color: #222020;
}

.poke-container img {
    width: fit-content;
   height: 15em;

 margin-bottom: 1em;
 object-fit: contain;
}

.powerDiv{
    display: flex;
}
.id-name-power{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.poke-container p {
  margin: .5em 0;
}
.poke-id {
  color: #636161;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  font-weight: 600;
}
.power {
  display: inline-block;
  width: 6em;
  height: 1.6em;
  text-align: center;
  font-size: 1em;
  padding: 0.2em 0;
  margin-right: 1em;
  

  background: gray;
  border-radius: 0.2em;
}
.fire {
  background-color:#B97FC9;
}
.grass {
  background-color: green;
  color: #fff;
}



@media only screen and (min-width: 1224px){
  ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap:1em;
  }

  .poke-container {
  width:22em;
  height: 25em;
  margin-top: 2em;
  border-radius: 2em;
 display: flex;
 flex-direction: column;
align-items: center;
  border: 1px solid rgb(109, 107, 107);
   box-shadow: 10px 10px 5px rgb(159, 162, 163);
}

}